*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.title{
    font-size: 70px; 
    font-weight: bold;
}
.homepage{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-KCUSj3LHCS66CQs57mm00gkIrXk7XsgrWg&s");
    background-size: cover;
    background-repeat: no-repeat;
}
    
.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #000;   
  color: #fff;              
  border-radius: 50%;      
  margin:0 3px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}
  
.icon-circle:hover {
    color: #000;   
    background-color: #fff;  
}
  
a{
    color: #fff;
}
.skills{
    background-color: plum;
} 

.skill-bar {
    height: 30px; 
    position: relative;
}

.skill-text {
    position: absolute;
    left: 10px;
    z-index: 10;
    font-weight: 600;
    color: white;
}

.skill-percent {
    position: absolute;
    right: 10px;
    z-index: 10;
    font-weight: 600;
    color: black;
}
.project{
    background-color: lightblue;
}
.card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform .3s;
    background: #fff;
}
.card:hover{
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
} 
.projectname{
    text-align: center;
    font-weight: 600;
    padding: 10px 0 20px;
    font-size: 16px;
}
.image3{
    width: 450px;
    height: 500px;
    margin-right: 100px;
    margin-bottom: 100px;
    mix-blend-mode: multiply;
}
.form-box {
    width: 40%;
    margin-bottom: 10%;
    
}
.para{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 50px;
}
